:root {
  --color-grey: #9495a5;
  --color-primary: #fff;
  --color-dark: #494c6b;
  --color-secondary: #fff;
  --color-border: rgba(227, 228, 241, 0.4);
  --color-very-dark: #161722;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  background-color: var(--color-primary);
  &.dark {
    background-color: var(--color-very-dark);
  }
}

.container {
  max-width: 54rem;
  margin: 0rem auto;
}
.header {
  height: 50vh;
  width: 100%;
  background-size: cover;
  &__heading {
    color: #fff;
    padding: 7rem 0;
  }
}
.form {
  &__input {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 2rem 2.4rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.25px;
    color: var(--color-grey);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &.dark {
      background-color: #25273c;
    }
  }
}

.todo__list {
  position: relative;
  top: -50px;
  min-height: 300px;
  max-width: 540px;
  margin: 0 auto;
  background-color: var(--color-secondary);
  border-radius: 5px;
  box-shadow: 0 35px 50px rgb(194 195 214 / 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.dark {
    color: #fff;
    background-color: #25273c;
    box-shadow: 0 35px 50px rgb(0 0 0 / 50%);
  }

  &-item {
    border: none;
    outline: none;
    padding: 2rem 2.4rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.8rem;
    letter-spacing: -0.25px;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-title {
    margin-left: 2rem;
    color: #777a92;
    &.dark {
      color: #fff;
    }
    &.active {
      text-decoration: line-through;
      // color: #cacde8;
    }
    &.none {
      text-decoration: none;
    }
  }
}
.buttons {
  justify-content: space-between;
  padding: 0.9rem 2.4rem 2.8rem;
  display: flex;
  a {
    letter-spacing: -0.194444px;
    color: #9495a5;
    font-size: 1.4rem;
    line-height: 1.4rem;
    cursor: pointer;
  }
}
.fa-times {
  float: right;
}
.delete {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #494c6b;
}
.btn.active {
  color: #3a7cfd;
}
.switch-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 30px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

input[type="radio"]:checked:before {
  background-color: red;
  background-repeat: no-repeat;
  background-position: 50%;
}
input[type="radio"] {
  height: 24px;
  width: 24px;
}

.delete {
  margin-left: auto;
}
